{{ 'spinWheel.css' | asset_url | stylesheet_tag }}

<div style="position: fixed; bottom: 0; right: 0;" class="spinnWheel">
    <div class="main" id="mainSpinnner">
        <div id="chart"></div>
        <div id="offerText">
            <h1></h1>
        </div>
        <div class="formBlock" id="formBlock">
            <form>
                <label for="email">Enter Email to SPIN:</label>
                <input type="email" id="spinner-email" name="email">
                <input type="text" id="spinnerCode" name="spinnerCode" readonly>
                <button type="submit" class="submitSpin" id="submitSpin">Spin</button>
            </form>
        </div>
    </div>
    <img src="{{ 'pngwing.com.png' | asset_url | image_tag: shop.name }}" alt="Image" id="spinnerImage" class="spinnerImage animate__animated animate__fadeInLeftBig" loading="lazy" width="80" height="80">

            <!-- <img src="{{ 'spinImage' | file_img_url: '150x' }}" alt="Image" id="spinnerImage" class="spinnerImage animate__animated animate__fadeInLeftBig" loading="lazy" width="80" height="80"> -->
</div>


            <script src="{{ 'spinWheel.js' | asset_url }}" defer></script>

            {% schema %}
            {
                        "name": "Spinner",
                        "target": "body",
                        "settings":[
                        {
                        "label": "Heading",
                        "id": "heading",
                        "type": "richtext",
                        "default": "<p>Hello from Heading</p>"
                                }
                                ]
                                }
            {% endschema %}
