*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}
#chart{
    /* position:absolute; */
    width: 50vw;
    height:100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
#offerText{
    /* position: absolute; */
    width:20vw;
    height:100vh;
    top:0;
    left:650px;
}
#offerText h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}
body{
    background-color: orange;
}
.main{
    /* display: none; */
    width: 100vw;
    height:100vh;
    margin-top: -10rem;
   flex-wrap: wrap;
    
}
#mainSpinnner{
    display: none;
}
.formBlock{
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.formBlock > form{
    display: flex;
    flex-direction: column;
}
form > input{
    margin-bottom: 2rem !important;
}
.slice > text{
    font-size: 1.5rem;
}
#spinnerCode{
    text-align: center !important;
}
text{
    color: blue !important;
}
.positionImage{
    height: 100vh;
    width:100vw;
}
.spinnerImage:hover{
    cursor: pointer;
}
.spinnerImage{
    float: right;
    margin: 2rem;
  
}
.spinnWheel{
    background-color: rgba(0, 255, 255, 0.244);
    background-image: none;
    /* border-radius: 100%; */

}
.banner--large:not(.banner--adapt) {
    min-height: 72rem;
    z-index: -1;
}
/* .mainSpinnner{
    display: 'none' ;
} */
